<header class="content-header">
	<h1>Stories tagged “<%= @tag.name %>”</h1>

	<p><%= page_entries_info @stories, model: 'stories' %>.</p>
</header>

<%= partial :'stories/stories_list', locals: { stories: @stories } %>

<%= will_paginate @stories, role: 'navigation' %>