.pagination {
	margin-top: 3em;
	text-align: center;

	.disabled {
		display: none;
	}

	a,
	em,
	span {
		border-radius: 0.25em;
		display: inline-block;
		@include font-size(x-small);
		font-weight: bold;
		line-height: 1;
		margin: 0 0.125em 0.5em 0.125em;
		padding: 0.7em 0.75em 0.5em 0.75em;
		text-transform: lowercase;
	}

	a {
		border: 1px solid $grey--x-light;
		text-decoration: none;

		&:focus,
		&:hover {
			border-color: $grey--light;
		}
	}

	.current {
		font-style: normal;
	}

	.gap {
		margin: 0 0 0.5em 0;
	}
}