.story-content {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	p {
		line-height: 1.6;

		@include breakpoint($bp--story--medium) {
			@include font-size(large);
		}
	}
}