.story-related {
	@extend %clear;
	background: $grey--xx-light;
	margin-top: 3em;
	padding: 1.5em;

	.prequels + .sequels {
		margin-top: 3em;
	}

	@include breakpoint($bp--story--medium) {
		.prequels,
		.sequels {
			float: left;
			width: 50%;
		}

		.prequels {
			padding-right: 1.5em;
		}

		.prequels + .sequels {
			margin: 0;
			padding-left: 1.5em;
		}
	}

	h1 {
		@include font-size(x-large);
		margin: 0;

		@include breakpoint($bp--story--medium) {
			@include font-size(xx-large);
		}
	}

	.stories-list {
		@include column-count;
		@include column-gap;
		margin-top: 1em;

		li {
			margin-bottom: 1em;
			padding-bottom: 1em;

			&:last-child {
				margin: 0;
				padding: 0;
			}
		}

		.title {
			@include font-size;
		}
	}
}