.story-footer {
	margin-top: 3em;

	p {
		color: $grey--light;
		@include font-size(small);
		margin: 0;
	}

	ul {
		@extend %ui-list;
	}

	li {
		display: inline-block;
		margin: 0 1em 0.5em 0;
		white-space: nowrap;

		a {
			display: inline-block;
			margin: -0.5em;
			padding: 0.5em;
			white-space: nowrap;

			&:before {
				content: "#";
			}
		}
	}
}