.story-photo {
	background: #000;
	margin: 0 auto 3em auto;
	max-width: 30em;
	padding: 0.5em;

	@include breakpoint($bp--story--medium) {
		float: right;
		margin: 0 0 3em 3em;
	}

	@include breakpoint($bp--story--wide) {
		margin-right: -4em;
		width: 20em;
	}

	> a {
		border: 0.25em solid #fff;
		display: block;
		margin-bottom: 0.5em;

		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}

	figcaption {
		background: $grey--dark;
		color: $grey--light;
		@include font-size(x-small);
		padding: 0.6em 0.5em 0.5em 0.5em;

		a {
			color: $yellow;

			&:focus,
			&:hover {
				color: darken($yellow, 10%);
			}
		}
	}
}